[Desktop Entry]
Name=Open Arctis Control
Exec=/bin/sh -c 'exec lam-gui >/dev/null 2>&1'
Icon=arctis-manager
Type=Application
Terminal=false
Categories=Utility;Application;
